{% extends 'abandoned-cart/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set crumbs = [
    { label: craft.abandonedCart.getPluginName() | t('abandoned-cart'), url: url('abandoned-cart') },
    { label: 'Dashboard' | t('abandoned-cart'), url: url('abandoned-cart/dashboard') },
] %}

{% set title = 'Dashboard' | t('abandoned-cart') %}
{% set selectedSubnavItem = 'dashboard' %}

{% block blockContent %}

<div id="carts-vue-admin-table"></div>

{% endblock %}

{% js %}
    var columns = [
        { name: 'cart', title: Craft.t('abandoned-cart', 'Cart'), sortField: 'orderId', callback: function(value) {
            if (value) {
                return '<a href="' + value.cpEditUrl + '">' + value.title + '</a>';
            } else {
                return '-';
            }
        }  },
        { name: 'email', title: Craft.t('abandoned-cart', 'Customer/Guest'), sortField: 'email', callback: function(value) {
            if (value) {
                return '<a href="' + value.cpEditUrl + '">' + value.title + '</a>';
            } else {
                return '-';
            }
        }  },
        { name: 'total', title: Craft.t('abandoned-cart', 'Total') },
        { name: 'firstReminder', title: Craft.t('abandoned-cart', '1st Reminder'), sortField: 'firstReminder', callback: function(value) {
            if (value) {
                return '<span class="status green"></span>' + Craft.t('abandoned-cart', 'Sent');
            } else {
                return '<span class="status orange"></span>' + Craft.t('abandoned-cart', 'Not sent');
            }
        } },
        { name: 'secondReminder', title: Craft.t('abandoned-cart', '2nd Reminder'), sortField: 'secondReminder', callback: function(value) {
            if (value) {
                return '<span class="status green"></span>' + Craft.t('abandoned-cart', 'Sent');
            } else {
                return '<span class="status orange"></span>' + Craft.t('abandoned-cart', 'Not sent');
            }
        } },
        { name: 'clicked', title: Craft.t('abandoned-cart', 'Clicked'), sortField: 'clicked', callback: function(value) {
            if (value) {
                return '<span class="status green"></span>' + Craft.t('abandoned-cart', 'Clicked');
            } else {
                return '<span class="status red"></span>' + Craft.t('abandoned-cart', 'Not clicked');
            }
        } },
        { name: 'status', title: Craft.t('abandoned-cart', 'Status'), callback: function(value) {
            if (value === 'recovered') {
                return '<span class="status green"></span>' + Craft.t('abandoned-cart', 'Recovered');
            } else if (value === 'scheduled') {
                return '<span class="status orange"></span>' + Craft.t('abandoned-cart', 'Scheduled');
            } else if (value === 'sent') {
                return '<span class="status blue"></span>' + Craft.t('abandoned-cart', 'Sent');
            } else {
                return '<span class="status red"></span>' + Craft.t('abandoned-cart', 'Expired');
            }
        } },
        { name: 'dateUpdated', title: Craft.t('abandoned-cart', 'Updated'), sortField: 'dateUpdated' },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#carts-vue-admin-table',
        emptyMessage: Craft.t('abandoned-cart', 'No abandoned carts exist yet.'),
        tableDataEndpoint: Craft.getActionUrl('abandoned-cart/carts/get-carts'),
        search: true,
        perPage: 100,
    });
{% endjs %}
